:root {
    --c-main: #0a58ca;
    --c-main2: #0078ff;
    --c-white: #fff;
    --c-black: #000;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
::selection {
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}
.overly::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
}
ul {
    list-style: none;
}
p {
    color: #4e4e4e;
}
a {
    text-decoration: none;
    display: block;
    padding: .5rem;
    font-size: 1.1rem;
    transition: all .3s;
}
.icons i {
    box-shadow: 0 0 0 5px var(--c-main2);
    transition: all .5s;
}
.icons i:hover {
    box-shadow: 0 0 0 5px #0077ff63;
    background-color: var(--c-main);
    color: var(--c-white);
}
.main-heading::before {
    content: '';
    width: 3rem;
    height: .3rem;
    background-color: var(--c-main);
    position: absolute;
    left: 50%;
    bottom: .5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.aboutme h2, 
.contact h2 {
    width: fit-content;
}
.aboutme h2::before,
.contact h2::before {
    content: '';
    width: 4rem;
    height: 3px;
    background-color: var(--c-main);
    position: absolute;
    bottom: -.75rem;
}
/* Start navbar */
nav {
    background-color: rgba(0, 0, 0, .4);
}
nav img {
    width: 50px;
}
nav ul li a {
    color: var(--c-white);
}
nav ul .nav-item a::before {
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--c-main);
    position: absolute;
    bottom: 0;
    left: -80%;
    transition: left .3s;
}
nav ul .nav-item a:hover::before,
nav ul .nav-item a.active::before {
    left: 0;
}
nav a:hover,
.active {
    color: var(--c-main2);
}
.navbar-toggler:focus {
    box-shadow: none;
}
@media (max-width: 992px) {
    nav ul.menu {
        width: 100%;
        position: absolute;
        top: 140%;
        left: 0%;
        background-color: var(--c-white);
        border-radius: .5rem;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    }
    nav ul li a{
        color: var(--c-black);
    }
    nav ul.menu > li a:hover::before {
        left: -100%;
    }
    nav ul.menu > li i {
        color: var(--c-black) !important;
        margin-right: 1rem;
        padding: 0;
    }
    nav ul a:hover {
        color: #0078ff;
    }
}
/* End navbar */
header {
    background-image: url(../images/pexels-pixabay-531756.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
header .content {
    background-color: rgba(0, 0, 0, .2);
}
header .myself .jobs {
    height: 50px;
}
header .myself .jobs ul {
    animation: translate 8s infinite;
}
@keyframes translate {
    0% { transform:translateY(-0%);}
    29% { transform:translateY(-0%);}
    30% { transform:translateY(-50%);}
    79% { transform:translateY(-50%);}
    80% { transform:translateY(-0%);}
    100% { transform:translateY(-0%);}
}
header .myself .jobs ul li {
    line-height: 50px;
    width: 8.8rem;
    animation: width 8s steps(10, end) infinite;
}
@keyframes width {
    0% {width: 8.8rem;}
    10% {width: 8.8rem;}
    29% {width: 0rem;}
    30% {width: 0rem;}
    50% {width: 9.4rem;}
    60% {width: 9.4rem;}
    79% {width: 0rem;}
    80% {width: 0rem;}
    100% {width: 8.8rem;}
}
@media (max-width: 767px) {
    header .myself .jobs ul li {
        width: 7.7rem;
    }
@keyframes width {
    0% {width: 7.7rem;}
    10% {width: 7.7rem;}
    29% {width: 0rem;}
    30% {width: 0rem;}
    50% {width: 8.3rem;}
    60% {width: 8.3rem;}
    79% {width: 0rem;}
    80% {width: 0rem;}
    100% {width: 7.7rem;}
}
}
header .myself .jobs ul li::before {
    content: "";
    width: .20rem;
    height: 55%;
    background-color: var(--c-white);
    position: absolute;
    right: 0%;
    top: 25%;
}
/* End header section */
/* Start about section */
.about .container .skills ul li {
    color: var(--c-white);
    background-color: #0078ff;
}
@media (max-width: 767px) {
    .about .container .info,
    .about .container .aboutme {
        width: 100% !important;
        padding: 1rem !important;
    }
}
@media (max-width: 576px) {
    .about .container .info .myself {
        flex-direction: column;
        align-items: center !important;
    }
    .about .container .info .myself ul {
        padding: 1rem 0 0;
    }
}
/* End about section */
/* Satrt services section  */
/* .services .container .box {
    border-radius: 1rem;
}
.services .container .box .icon {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 10px var(--c-main2);
    transition: all .3s ease-in-out;
}
.services .container .box:hover .icon {
    background-color: var(--c-main2);
    box-shadow: 0 0 0 10px #0077ff34;
}
.services .container .box p {
    font-size: .90rem;
}  */
/* End services section  */
/* Start portfolio section */
.portfolio .container .box a p {
    transition: all .5s;
}
.portfolio .container .box:hover a p {
    color: #0078ff;
}
.portfolio .container .box p:last-child {
    font-size: .83rem;
}
.portfolio .container .box p:last-child span:first-child {
    color: var(--c-main);
}
.portfolio .container .box .icon {
    width: 40px;
    height: 40px;
    border-color: var(--c-main) !important;
    color: var(--c-main);
}
.portfolio .container .box .image img {
    transition: all 1s;
}
.portfolio .container .box:hover .image img {
    transform: scale(1.1);
}
/* End portfolio section */
/* Start contact section */
.contact {
    background-image: url(../images/images10.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.contact .overly::before {
    background-color: #0077ffb4;
    z-index: -2;
}
@media (max-width: 767px) {
    .contact .container {
        padding: 1rem !important;
    }
    .contact .container .box {
        width: 100% !important;
    }
    .contact .container .touch{
        margin-top: 50px;
    }
}
/* End contact section */